 /**
 * Magic Mirror
 * Module Style Sheet: MMM-PlexNowPlaying
 *
 * By David Dearden
 * MIT Licensed.
 */

/**
 * Font configurations
 */
.MMM-PlexNowPlaying .x-small	{ font-size: 15px; line-height: 20px; }
.MMM-PlexNowPlaying .small	{ font-size: 20px; line-height: 25px; }
.MMM-PlexNowPlaying .medium	{ font-size: 30px; line-height: 35px; }
.MMM-PlexNowPlaying .large	{ font-size: 65px; line-height: 65px; }
.MMM-PlexNowPlaying .x-large	{ font-size: 75px; line-height: 75px; letter-spacing: -3px; }

/**
 * Loading text
 */
.MMM-PlexNowPlaying .loading {
	color: #666666;
}

/**
 * Content Formatting
 */
.MMM-PlexNowPlaying table td {
	padding: 0;
	margin: 0;
}

.MMM-PlexNowPlaying .secondary-text {
	font-size: 80%;
}

.MMM-PlexNowPlaying .posterImgCell {
	text-align: center;
	width: 10px;
	padding: 0;
	padding-top: 8px;
}

.MMM-PlexNowPlaying .posterImg {
	max-height: 90px;
	margin: 0;
	margin-right: 4px;
}

.MMM-PlexNowPlaying .thumbImgCell {
	width: 10px;
	padding: 0;
	padding-top: 8px;
}

.MMM-PlexNowPlaying .thumbImg {
	max-height: 110px;
	margin: 0;
	margin-right: 4px;
}

.MMM-PlexNowPlaying .iconImgCell {
	width: 10px;
	padding: 0;
	padding-top: 8px;
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
	color: #555555;
}

.MMM-PlexNowPlaying .dataCell {
	padding: 8px;
	padding-bottom: 0;
	text-align: left;
	vertical-align: top;
}

.MMM-PlexNowPlaying .iconCell {
	width: 10px;
	font-size: 80%;
	text-align: center;
	vertical-align: middle;
}
.MMM-PlexNowPlaying .iconCell span {
	margin-bottom: 8px;
}

.MMM-PlexNowPlaying .progressBarRow {
	background-color: #4C0700;
	background-color: #432c0e;
}

.MMM-PlexNowPlaying .progressBar {
	height: 2px;
	background-color: #e5a00d;
	background-color: #cc7b18;
}

/**
 * User info
 */

.MMM-PlexNowPlaying .userTable {
 	margin-top: 6px;
 }

.MMM-PlexNowPlaying .userImgCell {
	vertical-align: middle;
	height: 30px;
	width: 35px;
	padding: 0;
	padding-right: 5px;
}

.MMM-PlexNowPlaying .userImg {
	max-height: 30px;
	max-width: 30px;
	border-radius: 15px;
}

.MMM-PlexNowPlaying .userDataCell {
	padding: 0;
	text-align: left;
	vertical-align: middle;
	font-size: 80%;
}
